/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	compatible = "freechips,rocketchip-unknown-dev", "sifive,hifive-unleashed-a00", "sifive,fu540-c000";
	model = "freechips,rocketchip-unknown";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		bootargs = "earlycon=sifive,0x10010000 console=ttySIF0,115200";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		timebase-frequency = <1000000>;

		cpu0: cpu@0 {
			compatible = "sifive,e51", "sifive,rocket0", "riscv";
			device_type = "cpu";
			i-cache-block-size = <0x40>;
			i-cache-sets = <0x80>;
			i-cache-size = <0x4000>;
			next-level-cache = <&l2_cache>;
			reg = <0x0>;
			riscv,isa = "rv64imac";
			status = "disabled";

			cpu0_intc: interrupt-controller {
				#interrupt-cells = <0x1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu1: cpu@1 {
			compatible = "sifive,u54-mc", "sifive,rocket0", "riscv";
			d-cache-block-size = <0x40>;
			d-cache-sets = <0x40>;
			d-cache-size = <0x8000>;
			d-tlb-sets = <0x1>;
			d-tlb-size = <0x20>;
			device_type = "cpu";
			i-cache-block-size = <0x40>;
			i-cache-sets = <0x40>;
			i-cache-size = <0x8000>;
			i-tlb-sets = <0x1>;
			i-tlb-size = <0x20>;
			mmu-type = "riscv,sv39";
			next-level-cache = <&l2_cache>;
			reg = <0x1>;
			riscv,isa = "rv64imafdc";
			status = "okay";
			tlb-split;

			cpu1_intc: interrupt-controller {
				#interrupt-cells = <0x1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu2: cpu@2 {
			clock-frequency = <0x0>;
			compatible = "sifive,u54-mc", "sifive,rocket0", "riscv";
			d-cache-block-size = <0x40>;
			d-cache-sets = <0x40>;
			d-cache-size = <0x8000>;
			d-tlb-sets = <0x1>;
			d-tlb-size = <0x20>;
			device_type = "cpu";
			i-cache-block-size = <0x40>;
			i-cache-sets = <0x40>;
			i-cache-size = <0x8000>;
			i-tlb-sets = <0x1>;
			i-tlb-size = <0x20>;
			mmu-type = "riscv,sv39";
			next-level-cache = <&l2_cache>;
			reg = <0x2>;
			riscv,isa = "rv64imafdc";
			status = "okay";
			tlb-split;

			cpu2_intc: interrupt-controller {
				#interrupt-cells = <0x1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu3: cpu@3 {
			clock-frequency = <0x0>;
			compatible = "sifive,u54-mc", "sifive,rocket0", "riscv";
			d-cache-block-size = <0x40>;
			d-cache-sets = <0x40>;
			d-cache-size = <0x8000>;
			d-tlb-sets = <0x1>;
			d-tlb-size = <0x20>;
			device_type = "cpu";
			i-cache-block-size = <0x40>;
			i-cache-sets = <0x40>;
			i-cache-size = <0x8000>;
			i-tlb-sets = <0x1>;
			i-tlb-size = <0x20>;
			mmu-type = "riscv,sv39";
			next-level-cache = <&l2_cache>;
			reg = <0x3>;
			riscv,isa = "rv64imafdc";
			status = "okay";
			tlb-split;

			cpu3_intc: interrupt-controller {
				#interrupt-cells = <0x1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu4: cpu@4 {
			clock-frequency = <0x0>;
			compatible = "sifive,u54-mc", "sifive,rocket0", "riscv";
			d-cache-block-size = <0x40>;
			d-cache-sets = <0x40>;
			d-cache-size = <0x8000>;
			d-tlb-sets = <0x1>;
			d-tlb-size = <0x20>;
			device_type = "cpu";
			i-cache-block-size = <0x40>;
			i-cache-sets = <0x40>;
			i-cache-size = <0x8000>;
			i-tlb-sets = <0x1>;
			i-tlb-size = <0x20>;
			mmu-type = "riscv,sv39";
			next-level-cache = <&l2_cache>;
			reg = <0x4>;
			riscv,isa = "rv64imafdc";
			status = "okay";
			tlb-split;

			cpu4_intc: interrupt-controller {
				#interrupt-cells = <0x1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu8: cpu@8 {
			clock-frequency = <0x0>;
			compatible = "sifive,e51", "sifive,rocket0", "riscv";
			device_type = "cpu";
			i-cache-block-size = <0x40>;
			i-cache-sets = <0x80>;
			i-cache-size = <0x4000>;
			next-level-cache = <&l2_cache>;
			reg = <0x8>;
			riscv,isa = "rv64imac";
			status = "disabled";

			cpu8_intc:  interrupt-controller {
				#interrupt-cells = <0x1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu9: cpu@9 {
			clock-frequency = <0x0>;
			compatible = "sifive,u54-mc", "sifive,rocket0", "riscv";
			d-cache-block-size = <0x40>;
			d-cache-sets = <0x40>;
			d-cache-size = <0x8000>;
			d-tlb-sets = <0x1>;
			d-tlb-size = <0x20>;
			device_type = "cpu";
			i-cache-block-size = <0x40>;
			i-cache-sets = <0x40>;
			i-cache-size = <0x8000>;
			i-tlb-sets = <0x1>;
			i-tlb-size = <0x20>;
			mmu-type = "riscv,sv39";
			next-level-cache = <&l2_cache>;
			reg = <0x9>;
			riscv,isa = "rv64imafdc";
			status = "okay";
			tlb-split;

			cpu9_intc: interrupt-controller {
				#interrupt-cells = <0x1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu10: cpu@10 {
			clock-frequency = <0x0>;
			compatible = "sifive,u54-mc", "sifive,rocket0", "riscv";
			d-cache-block-size = <0x40>;
			d-cache-sets = <0x40>;
			d-cache-size = <0x8000>;
			d-tlb-sets = <0x1>;
			d-tlb-size = <0x20>;
			device_type = "cpu";
			i-cache-block-size = <0x40>;
			i-cache-sets = <0x40>;
			i-cache-size = <0x8000>;
			i-tlb-sets = <0x1>;
			i-tlb-size = <0x20>;
			mmu-type = "riscv,sv39";
			next-level-cache = <&l2_cache>;
			reg = <0xa>;
			riscv,isa = "rv64imafdc";
			status = "okay";
			tlb-split;

			cpu10_intc: interrupt-controller {
				#interrupt-cells = <0x1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu11: cpu@11 {
			clock-frequency = <0x0>;
			compatible = "sifive,u54-mc", "sifive,rocket0", "riscv";
			d-cache-block-size = <0x40>;
			d-cache-sets = <0x40>;
			d-cache-size = <0x8000>;
			d-tlb-sets = <0x1>;
			d-tlb-size = <0x20>;
			device_type = "cpu";
			i-cache-block-size = <0x40>;
			i-cache-sets = <0x40>;
			i-cache-size = <0x8000>;
			i-tlb-sets = <0x1>;
			i-tlb-size = <0x20>;
			mmu-type = "riscv,sv39";
			next-level-cache = <&l2_cache>;
			reg = <0xb>;
			riscv,isa = "rv64imafdc";
			status = "okay";
			tlb-split;

			cpu11_intc: interrupt-controller {
				#interrupt-cells = <0x1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};

		cpu12: cpu@12 {
			clock-frequency = <0x0>;
			compatible = "sifive,u54-mc", "sifive,rocket0", "riscv";
			d-cache-block-size = <0x40>;
			d-cache-sets = <0x40>;
			d-cache-size = <0x8000>;
			d-tlb-sets = <0x1>;
			d-tlb-size = <0x20>;
			device_type = "cpu";
			i-cache-block-size = <0x40>;
			i-cache-sets = <0x40>;
			i-cache-size = <0x8000>;
			i-tlb-sets = <0x1>;
			i-tlb-size = <0x20>;
			mmu-type = "riscv,sv39";
			next-level-cache = <&l2_cache>;
			reg = <0xc>;
			riscv,isa = "rv64imafdc";
			status = "okay";
			tlb-split;

			cpu12_intc: interrupt-controller {
				#interrupt-cells = <0x1>;
				compatible = "riscv,cpu-intc";
				interrupt-controller;
			};
		};
	};

	soc {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		compatible = "sifive,fu540-c000", "sifive,fu540", "freechips,rocketchip-unknown-soc", "simple-bus";
		ranges;

		l2_cache: cache-controller@2010000 {
			cache-block-size = <0x40>;
			cache-level = <0x2>;
			cache-sets = <0x400>;
			cache-size = <0x100000>;
			cache-unified;
			compatible = "sifive,ccache0", "cache";
			interrupt-parent = <&plic0>;
			interrupts = <0x9 0xa 0xb 0xc>;
			next-level-cache = <&err_dev &mem0 &stl0 &mem1>;
			reg = <0x0 0x2010000 0x0 0x1000 0x0 0x8000000 0x0 0x100000>;
			reg-names = "control", "sideband";
			sifive,ecc-granularity = <0x8>;
			sifive,mshr-count = <0xa>;
		};

		clint@2000000 {
			compatible = "riscv,clint0";
			interrupts-extended = <&cpu1_intc 0x3 &cpu1_intc 0x7
                                               &cpu2_intc 0x3 &cpu2_intc 0x7
                                               &cpu3_intc 0x3 &cpu3_intc 0x7
                                               &cpu4_intc 0x3 &cpu4_intc 0x7>;
			reg = <0x0 0x2000000 0x0 0x10000>;
			reg-names = "control";
		};

		clint@202000000 {
			compatible = "riscv,clint0";
			interrupts-extended = <&cpu1_intc 0x3 &cpu1_intc 0x7
                                               &cpu2_intc 0x3 &cpu2_intc 0x7
                                               &cpu3_intc 0x3 &cpu3_intc 0x7
                                               &cpu4_intc 0x3 &cpu4_intc 0x7>;
			reg = <0x2 0x2000000 0x0 0x10000>;
			reg-names = "control";
		};

		debug-controller@0 {
			compatible = "sifive,debug-013", "riscv,debug-013";
			interrupts-extended = <&cpu0_intc 0xffff
                                               &cpu1_intc 0xffff
                                               &cpu2_intc 0xffff
                                               &cpu3_intc 0xffff
                                               &cpu4_intc 0xffff>;
			reg = <0x0 0x0 0x0 0x1000>;
			reg-names = "control";
		};

		dma@3000000 {
			#dma-cells = <0x1>;
			compatible = "riscv,dma0";
			dma-channels = <0x4>;
			dma-requests = <0x0>;
			interrupt-parent = <&plic0>;
			interrupts = <0x1 0x2 0x3 0x4 0x5 0x6 0x7 0x8>;
			reg = <0x0 0x3000000 0x0 0x100000>;
			reg-names = "control";
			riscv,dma-pools = <0x1>;
		};

		dtim0: dtim@1000000 {
			compatible = "sifive,dtim0";
			reg = <0x0 0x1000000 0x0 0x2000>;
			reg-names = "mem";
		};

		error-device@18000000 {
			compatible = "sifive,error0";
			reg = <0x0 0x2000 0x0 0x2000 0x0 0x5000 0x0 0xb000
                               0x0 0x18000 0x0 0xfe8000 0x0 0x1002000 0x0 0x7fe000
                               0x0 0x1804000 0x0 0x4000 0x0 0x1828000 0x0 0x7d8000
                               0x0 0x2011000 0x0 0xfef000 0x0 0x3100000 0x0 0x4f00000
                               0x0 0x8100000 0x0 0x3f00000 0x0 0x10000000 0x0 0x10000
                               0x0 0x10011000 0x0 0x3f000 0x0 0x10051000 0x0 0xf000
                               0x0 0x10061000 0x0 0xff9f000 0x0 0x24000000 0x0 0x1c000000
                               0x1 0x0 0x0 0x80000000>;
		};

		err_dev: error-device@180000000 {
			compatible = "sifive,error0";
			reg = <0x1 0x80000000 0x0 0x80000000>;
		};

		gpio0: gpio@10060000 {
			#gpio-cells = <0x2>;
			#interrupt-cells = <0x2>;
			compatible = "sifive,gpio0", "sifive,gpio1";
			gpio-controller;
			interrupt-controller;
			interrupt-parent = <&plic0>;
			interrupts = <0x12 0x13 0x14 0x15>;
			reg = <0x0 0x10060000 0x0 0x1000>;
			reg-names = "control";
		};

		plic0: interrupt-controller@c000000 {
			#interrupt-cells = <0x1>;
			compatible = "sifive,plic-1.0.0";
			reg = <0x0 0xc000000 0x0 0x4000000>;
			riscv,ndev = <0x15>;
			interrupt-controller;
			interrupts-extended = <&cpu0_intc 0xffffffff
                                               &cpu1_intc 0xffffffff &cpu1_intc 0x9
                                               &cpu2_intc 0xffffffff &cpu2_intc 0x9
                                               &cpu3_intc 0xffffffff &cpu3_intc 0x9
                                               &cpu4_intc 0xffffffff &cpu4_intc 0x9>;
			reg-names = "control";
			riscv,max-priority = <0x7>;
		};

		plic1: interrupt-controller@20c000000 {
			#interrupt-cells = <0x1>;
			compatible = "sifive,plic-1.0.0";
			reg = <0x2 0xc000000 0x0 0x4000000>;
			riscv,ndev = <0x15>;
			interrupt-controller;
			interrupts-extended = <&cpu8_intc 0xffffffff
                                               &cpu9_intc 0xffffffff &cpu9_intc 0x9
                                               &cpu10_intc 0xffffffff &cpu10_intc 0x9
                                               &cpu11_intc 0xffffffff &cpu11_intc 0x9
                                               &cpu12_intc 0xffffffff &cpu12_intc 0x9>;
			reg-names = "control";
			riscv,max-priority = <0x7>;
		};

		pci@20000000 {
			#address-cells = <0x3>;
			#interrupt-cells = <0x1>;
			#size-cells = <0x2>;
			compatible = "xlnx,xdma-host-3.00";
			device_type = "pci";
			interrupt-map = <0x0 0x0 0x0 0x1
                                         &pci_intc0 0x1 0x0 0x0 0x0 0x2
                                         &pci_intc0 0x2 0x0 0x0 0x0 0x3
                                         &pci_intc0 0x3 0x0 0x0 0x0 0x4
                                         &pci_intc0 0x4>;
			interrupt-map-mask = <0x0 0x0 0x0 0x7>;
			interrupt-names = "misc", "msi0", "msi1";
			interrupt-parent = <&plic0>;
			interrupts = <0xf 0x10 0x11>;
			ranges = <0x2000000 0x0 0x40000000 0x0 0x40000000 0x0 0x40000000>;
			reg = <0x0 0x20000000 0x0 0x4000000>;
			reg-names = "control";

			pci_intc0: interrupt-controller {
				#address-cells = <0x0>;
				#interrupt-cells = <0x1>;
				interrupt-controller;
			};
		};

		pci@220000000 {
			#address-cells = <0x3>;
			#interrupt-cells = <0x1>;
			#size-cells = <0x2>;
			compatible = "xlnx,xdma-host-3.00";
			device_type = "pci";
			interrupt-map = <0x0 0x0 0x0 0x1
                                         &pci_intc1 0x1 0x0 0x0 0x0 0x2
                                         &pci_intc1 0x2 0x0 0x0 0x0 0x3
                                         &pci_intc1 0x3 0x0 0x0 0x0 0x4
                                         &pci_intc1 0x4>;
			interrupt-map-mask = <0x0 0x0 0x0 0x7>;
			interrupt-names = "misc", "msi0", "msi1";
			interrupt-parent = <&gpio0>;
			interrupts = <0x0 0x4 0x1 0x4 0x2 0x4>;
			ranges = <0x2000000 0x2 0x40000000 0x2 0x40000000 0x0 0x40000000>;
			reg = <0x2 0x20000000 0x0 0x4000000>;
			reg-names = "control";

			pci_intc1: interrupt-controller {
				#address-cells = <0x0>;
				#interrupt-cells = <0x1>;
				interrupt-controller;
			};
		};

		rom@1000 {
			compatible = "sifive,modeselect0";
			reg = <0x0 0x1000 0x0 0x1000>;
			reg-names = "mem";
		};

		rom@10000 {
			compatible = "sifive,maskrom0";
			reg = <0x0 0x10000 0x0 0x8000>;
			reg-names = "mem";
		};

		uart0: serial@10010000 {
			compatible = "sifive,fu540-c000-uart", "sifive,uart0";
			reg = <0x0 0x10010000 0x0 0x1000>;
			interrupt-parent = <&plic0>;
			clocks = <&tlclk0>;
			status = "okay";
			interrupts = <0xd>;
		};

		uart1: serial@2010010000 {
			compatible = "sifive,fu540-c000-uart", "sifive,uart0";
			reg = <0x20 0x10010000 0x0 0x1000>;
			interrupt-parent = <&plic1>;
			clocks = <&tlclk0>;
			status = "okay";
			interrupts = <0xd>;
		};

		spi@10050000 {
			compatible = "sifive,fu540-c000-spi", "sifive,spi0";
			reg = <0x0 0x10050000 0x0 0x1000>;
			interrupt-parent = <&plic0>;
			interrupts = <0xe>;
			clocks = <&tlclk0>;
			#address-cells = <0x1>;
			#size-cells = <0x0>;
		};

		mmc@0 {
			compatible = "mmc-spi-slot";
			reg = <0x0 0x0 0x0 0x0>;
			spi-max-frequency = <5000000>;
			voltage-ranges = <0xce4 0xce4>;
			disable-wp;
		};

		stl0: stl@200000000 {
			#address-cells = <0x2>;
			#size-cells = <0x2>;
			compatible = "sifive,stl", "simple-bus";
			ranges = <0x2 0x0 0x2 0x0 0x0 0x80000000 0x3 0x0 0x3 0x0 0x0 0x80000000 0x2 0x80000000 0x2 0x80000000 0x0 0x80000000 0x3 0x80000000 0x3 0x80000000 0x0 0x80000000>;
		};

		teststatus@4000 {
			compatible = "sifive,test0";
			reg = <0x0 0x4000 0x0 0x1000>;
			reg-names = "control";
		};

	};

	mem0: memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	mem1: memory@280000000 {
		device_type = "memory";
		reg = <0x2 0x80000000 0x0 0x80000000>;
	};

	tlclk0: tlclk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		clock-output-names = "tlclk";
	};
};
